# THIS IS JUST AN EXAMPLE OF HOW YOU MUST CONFIGURE YOUR .ENV FILE.
# RENAME THIS TO '.env' (REMOVING THE '.example') 
# SET UP WITH THE FOLLOWING PARAMETERS

# THE HOST AND PORT THE SERVER WILL BE RUNNING. EXAMPLE: localhost & 3000
SERVER_HOST=
SERVER_PORT=

# THE PORT YOU SET WHEN INSTALLED (THE DEFAULT IS 5432)
DB_HOST=
DB_PORT=

# THE DATABASE YOU SET WHEN INSTALLED POSTGRESQL
DB_USERNAME=
DB_PASSWORD=

# THIS HAS TO BE THE SAME NAME OF THE DATABASE YOU CREATED
DATABASE=

# YOU CAN GO TO https://www.md5online.org/ AND CREATE A SECRET
SECRET=