- THIS IS JUST AN EXAMPLE OF HOW YOU MUST CONFIGURE YOUR .ENV FILE.
- RENAME THIS TO '.env' (REMOVING THE '.example') 
- SET UP WITH THE FOLLOWING PARAMETERS
- REMOVE ALL OF THESE INSTRUCTIONS

HOST=something
PORT=anyPort
DB_PORT=yourDatabasePort
DB_USERNAME=yourDatabaseUsername
DB_PASSWORD=yourDatabasePassword